################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/CRUD/obj/Debug/netcoreapp3.1/CRUD.AssemblyInfo.cs
/CRUD/obj/Debug/netcoreapp3.1/CRUD.AssemblyInfoInputs.cache
/CRUD/obj/Debug/netcoreapp3.1/CRUD.assets.cache
/CRUD/obj/Debug/netcoreapp3.1/CRUD.GeneratedMSBuildEditorConfig.editorconfig
/CRUD/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/CRUD/obj/Release/netcoreapp3.1/CRUD.AssemblyInfo.cs
/CRUD/obj/Release/netcoreapp3.1/CRUD.AssemblyInfoInputs.cache
/CRUD/obj/Release/netcoreapp3.1/CRUD.assets.cache
/CRUD/obj/Release/netcoreapp3.1/CRUD.csproj.AssemblyReference.cache
/CRUD/obj/Release/netcoreapp3.1/CRUD.GeneratedMSBuildEditorConfig.editorconfig
/.vs/Loyalty/FileContentIndex/648aaef5-70b4-41ae-bc4d-4c39a05400c2.vsidx
/.vs/Loyalty/FileContentIndex/a938b3d3-2347-4c3c-92e7-acbc49e79d09.vsidx
/.vs/Loyalty/FileContentIndex/e6b3fd4b-c012-474f-89bd-2df96be6472e.vsidx
/.vs/VSWorkspaceState.json
/.vs/Loyalty/FileContentIndex/8aca1288-df2c-4b62-9e15-f598bc378d4b.vsidx
/.vs/Loyalty/FileContentIndex/7f2cc492-57c3-4f5d-9309-89ce514324e5.vsidx
/.vs/Loyalty/FileContentIndex/77defcd4-2a84-49d1-87c5-ddb6dc6a110f.vsidx
/.vs/Loyalty/FileContentIndex/5a489880-cfda-46c8-9d6a-caa48e45d173.vsidx
/.vs/Loyalty/FileContentIndex/c96dfc9c-f6fe-4f31-aa55-6fd208610594.vsidx
/.vs/Loyalty/v17/.wsuo
/.vs/Loyalty/FileContentIndex/b34129a5-e661-40e3-9548-e0df1a0c75b0.vsidx
/CRUD/Controllers/ArticulosController.cs
/.vs/Loyalty/FileContentIndex
/CRUD/bin/Debug/net7.0
/CRUD/obj/Debug/net7.0/ref
/CRUD/obj/Debug/net7.0/refint
/CRUD/obj/Debug/net7.0/staticwebassets
/.vs/CRUD
/CRUD/obj/Debug/net7.0/apphost.exe
/CRUD/obj/Debug/net7.0/CRUD.AssemblyInfo.cs
/CRUD/obj/Debug/net7.0/CRUD.AssemblyInfoInputs.cache
/CRUD/obj/Debug/net7.0/CRUD.assets.cache
/CRUD/obj/Debug/net7.0/CRUD.csproj.AssemblyReference.cache
/CRUD/obj/Debug/net7.0/CRUD.csproj.BuildWithSkipAnalyzers
/CRUD/obj/Debug/net7.0/CRUD.csproj.CopyComplete
/CRUD/obj/Debug/net7.0/CRUD.csproj.CoreCompileInputs.cache
/CRUD/obj/Debug/net7.0/CRUD.csproj.FileListAbsolute.txt
/CRUD/obj/Debug/net7.0/CRUD.dll
/CRUD/obj/Debug/net7.0/CRUD.genruntimeconfig.cache
/CRUD/obj/Debug/net7.0/CRUD.MvcApplicationPartsAssemblyInfo.cache
/CRUD/obj/Debug/net7.0/CRUD.MvcApplicationPartsAssemblyInfo.cs
/CRUD/obj/Debug/net7.0/CRUD.pdb
/CRUD/obj/Debug/net7.0/CRUD.sourcelink.json
/CRUD/obj/Debug/net7.0/staticwebassets.build.json
/CRUD/obj/CRUD.csproj.nuget.dgspec.json
/CRUD/obj/project.assets.json
/CRUD/obj/project.nuget.cache
