<h2 mat-dialog-title>{{tituloAccion}}</h2>
<mat-dialog-content class="mat-typography">
  
        <form [formGroup]="formData">
          <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="16px">
            <div fxFlex="100" fxFlex.lt-md="100" fxLayout="column">
              <div class="form-fields">
                <mat-form-field appearance="outline">
                  <mat-label>Codigo</mat-label>
                  <input matInput formControlName="Codigo" autocomplete="off">
                </mat-form-field>
              </div>
              <div class="form-fields">
                <mat-form-field appearance="outline">
                  <mat-label>Descripcion</mat-label>
                  <input matInput formControlName="Descripcion" autocomplete="off">
                </mat-form-field>
              </div>
              <div class="form-fields">
                <mat-form-field appearance="outline">
                  <mat-label>Precio</mat-label>
                  <input matInput type="number" formControlName="Precio" autocomplete="off">
                </mat-form-field>
              </div>
              <div class="form-fields">
                <mat-form-field appearance="outline">
                  <mat-label>Stock</mat-label>
                  <input matInput type="number" formControlName="Stock" autocomplete="off">
                </mat-form-field>
              </div>
              
            </div>
          </div>
        </form>
      </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-button color="primary" [disabled]="formData.invalid"  (click)="addEdit()">{{botonAccion}}</button>
  
</mat-dialog-actions>
